html, body{
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
}
input{
    text-transform: uppercase;
    font-size: 13px !important;
}
.form-group label{
    font-size: .8rem;
    margin-bottom: .2rem !important;
}
.form-group .help-block{
    font-size: 11px;
    text-transform: lowercase;
}

input[type=password]{
    font-size: 1.7rem;
}

#sidebar-custom{
    background-image: linear-gradient( 180deg, rgb(5 2 29) 0%, rgb(10 0 93 / 90%) 70%, rgba(38,33,78,0.804359243697479) 81%, rgba(255,255,255,0.20211834733893552) 100%),
    url(../images/sidebar.jpg) !important;
}